<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>int</title>
    <link rel="stylesheet" href="/static/base.css" />
    <style>
      .entries {
        list-style-type: none;
      }

      a[href] {
        color: inherit;
        text-decoration: none;
      }

      .entries {
        display: flex;
        flex-direction: column;
        gap: 2rem;
      }

      .entry {
        display: flex;
        flex-direction: column;
        gap: 0.25rem;
      }
    </style>
  </head>
  <body>
    <header>
      <h1>Welcome</h1>
      <p>I post dumb opinionated stuff here sometimes</p>
    </header>

    <main>
      <ul class="entries">
        $entries
      </ul>
    </main>
  </body>
</html>
